*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --text-color: #24282c;
  --back-color: #d4dde6;

  --card-back-color: #661b5a;
  --card-text-color: #ffffff;

  font-family: var(--default-font, sans-serif);
  color: var(--text-color);
  background-color: var(--back-color);

  min-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #e8e4dd;
    --back-color: #182028;
  }
}

.hidden {
  display: none !important;
}

main {
  max-width: 100%;
  flex: 1;
}

/* Header */

header {
  margin: 16px;
  flex: 0;
}

header form input, header form button {
  font-family: var(--default-font);
  font-size: 1rem;
  padding: 2px 5px;
}

header form input {
  width: 20ch;
}

/* Loading section */

#loading {
  width: 16ch;
  margin-top: 2rem;
}

#loading p {
  font-size: 1.4rem;
  opacity: 0.65;
}

/* Error Message section */

#error-message {
  text-align: center;
  margin-top: 2rem;
}

#error-message p {
  font-size: 1.4rem;
  color: white;
  background-color: #661b1b;
  padding: 8px 16px;
  border-radius: 10px;
}

/* Results section */

#results {
  width: 60rem;
  max-width: 100%;
  height: 100%;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#results .section-head {
  text-align: center;
  opacity: 0.8;

  grid-column: 1 / -1;
}

#results .card {
  color: var(--card-text-color);
  background-color: var(--card-back-color);

  border-radius: 10px;
  padding: 8px 16px;
}

#results .card .key-metric {
  font-size: 2rem;
}

#results .card .measure-unit {
  font-weight: normal;
  opacity: 0.65;
}

/* Temperature cards */

#results .temp-card {
  --thermometer-width: 1.2rem;
  --thermometer-border-thickness: 3px;
  --thermometer-inner-width: calc(
    var(--thermometer-width) -
    (var(--thermometer-border-thickness) * 2)
  );
  --thermometer-height: 6rem;
  --thermometer-empty-color: #d0d4d8;
  --thermometer-fill-color: #991122;

  min-height: calc(var(--thermometer-height) + 20px);
  min-width: 10rem;
  padding: 8px 16px;

  display: grid;
  grid-template-columns: 1fr calc(var(--thermometer-width));
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 12px;
}

#results .temp-card .heading {
  grid-column: 1;
  grid-row: 1;
  align-self: end;

  padding: 2px 0.5rem;
  border-radius: 4px;
}

#results .temp-card.low .heading {
  background-color: #0b34bd;
}

#results .temp-card.high .heading {
  background-color: #c23c07;
}

#results .temp-card .temp-text {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

#results .temp-card meter.thermometer {
  grid-column: 2;
  grid-row: span 2;
  align-self: center;
}

meter.thermometer {
  display: block;
  height: var(--thermometer-width);
  width: var(--thermometer-height);
  transform: rotate(-90deg);

  background: var(--thermometer-empty-color);
  border: var(--thermometer-border-thickness) solid #ffffff;
  border-radius: calc(var(--thermometer-width) / 2);
}

meter.thermometer::-webkit-meter-bar {
  background: var(--thermometer-empty-color);
  height: var(--thermometer-inner-width);
  border: none;
  border-radius: calc(var(--thermometer-inner-width) / 2);
}

meter.thermometer::-webkit-meter-optimum-value,
meter.thermometer::-webkit-meter-suboptimum-value,
meter.thermometer::-webkit-meter-even-less-good-value {
  background: var(--thermometer-fill-color);
  border: none;
  border-radius: calc(var(--thermometer-inner-width) / 2);
}

meter.thermometer::-moz-meter-bar {
  background: var(--thermometer-fill-color);
  border: none;
  border-radius: calc(var(--thermometer-inner-width) / 2);
}

/* Conditions card */

#results #conditions-card {
  min-height: 7rem;
  background-size: cover;
  background-position: top;

  grid-column: span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#results #conditions-card .image-credit {
  font-size: 0.75rem;
  opacity: 0.65;
  align-self: flex-end;
}

#results #conditions-card .description {
  font-size: 1.4rem;
  background-color: #00000080;
  border-radius: 4px;
  padding: 3px 7px;
  align-self: flex-start;
}

/* Wind card */

#results #wind-card {
  background-color: #5447a5;
  min-width: 17rem;

  grid-column: span 2;

  display: grid;
  justify-items: center;
  align-items: center;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .heading {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
  }

  .wind-text {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
  }

  .wind-graphic {
    border: 2px solid #3f3680;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    max-height: 7rem;
    overflow: hidden;

    grid-column: 2;
    grid-row: span 2;
    justify-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wind-arrow {
    display: block;
    max-height: 200%;
  }
}

/* Quote card */

#results #quote-card {
  grid-column: span 2;

  border: 8px double #00112230;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

#results #quote-card .quote-text {
  font-size: 1.2rem;
}

#results #quote-card .quote-text::before {
  content: '“';
}

#results #quote-card .quote-text::after {
  content: '”';
}

#results #quote-card .quote-source {
  opacity: 0.8;
  align-self: flex-end;
  margin-right: 3rem;
}

#results #quote-card .quote-source::before {
  content: '~ ';
}

/* Footer */

footer {
  text-align: center;
  margin: 8px;
  flex: 0;
  opacity: 0.65;
}

footer span {
  display: inline-block;
}

footer span.divider {
  display: none;
}

footer a {
  color: var(--text-color);
}

/* Grid layout for wider screens */

@media (min-width: 45rem) {
  #results {
    grid-template-columns: 15rem 1fr 20rem;
    grid-template-rows: min-content repeat(3,
      clamp(10rem, calc(30vh - 3rem), 16rem)
    );
  }

  #results .section-head {
    font-size: 2.8rem;
  }

  #results .card .key-metric {
    font-size: 2.5rem;
  }

  #results .temp-card {
    --thermometer-height: 8rem;
  }

  #results .temp-card.high {
    grid-column: 1;
    grid-row: 2;
  }
  
  #results .temp-card.low {
    grid-column: 1;
    grid-row: 3;
  }

  #results #conditions-card {
    grid-row: span 2;
  }

  #results #conditions-card .description {
    font-size: 1.8rem;
  }

  #results #wind-card {
    grid-column: 3;
    grid-row: 4;
  }

  .wind-graphic {
    max-height: 12rem;
  }

  #results #quote-card .quote-text {
    font-size: 2rem;
  }

  #results #quote-card .quote-source {
    font-size: 1.2rem;
  }

  footer span.divider {
    display: block;
    margin: 0 4px;
  }
}