*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --text-color: #24282c;
  --back-color: #c0c8d0;

  font-family: var(--default-font, sans-serif);
  color: var(--text-color);
  background-color: var(--back-color);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #e8e4dd;
    --back-color: #182028;
  }
}

.hidden {
  display: none !important;
}

main {
  padding: 16px;
  flex: 1;
}

/* Header */

header {
  padding: 16px;
  flex: 0;
}

/* Loading section */

#loading {
  width: 16ch;
}

/* Results section */

/* Footer */

footer {
  padding: 8px;
  flex: 0;
}

footer a {
  color: var(--text-color);
}